* {
    padding: 0px;
    margin: 0px;
}


body {
    font-family: arial, sans-serif;
    text-align: center;
    font-size: 45px;
    line-height: 1.4;
    background-color: grey;
}


.title {
  max-width: 1000px;
  padding: 100px 30px;
  margin: auto;
  font-weight: 500;
}

.titlep p {
  margin-bottom: 80px;
  position: relative;
}

.red{
    font-style: bold;
     background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: black;
    transition: all 0.8s ease;
}
.red:hover {
  font-style: bold;
  background-color: red;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}




