* {
    padding: 0px;
    margin: 0px;
}


body {
    font-family: arial, sans-serif;
    text-align: center;
    font-size: 45px;
    line-height: 1.4;
    background-color: grey;
}


.title {
  max-width: 1000px;
  padding: 100px 30px;
  margin: auto;
  font-weight: 500;
}

.title p {
  margin-bottom: 80px;
  position: relative;
}

.red{
    font-style: bold;
     background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: black;
    transition: all 0.8s ease;
}
.red:hover {
  font-style: bold;
  background-color: red;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

ul {
  padding: 30px;
  margin: 0;
  display: inline-block;
  top:50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
 }
 
 ul li  {
  font size: 80px; 
  list-style: none;
  float: left;
  transition:.9s;
}

ul:hover li {
  transform: rotate(360deg);
}

.shape {
  width: 400px;
  height: 40px;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  background-color: #E5E5E5;
  -webkit-transform: rotate(45deg);
  -webkit-transition: all 1s ease-in-out;
}

.shape:hover {
  border-radius: 30px;
  width: 200px;
  height: 150px;
  background-color: #1D1919;
  -webkit-transform: scale(2.25);
  cursor: pointer;
}

.beethoven {
  font-size: 30px;
  margin: 150px;
}

.tiny{
  transition: all 4s ease-in-out;
}

.tiny:hover {
  cursor: pointer;
  font-size: 0px;
}


.font {
  font-size: 60px;
  font-family: sans-serif;
}

.font:hover {
  font-family: Impact, fantasy;
}

.font2 {
  font-size: 60px;
  font-family: sans-serif;
}

.font2:hover {
  font-family: cursive;
}


.hoverstates {
font-family:impact;
font-size:20px;
color: #FFC700;
padding: 20px;
border-radius: 8px;
}

