      body {
        background-color: grey;
        margin-top: 5%;
        color: white;
      }

      h1 {
        font-size: 50px;
        text-decoration: none;
        color: #FFFFFF;
        line-height: 60px;
        text-align: center;
      }

     li {

        padding: 10px;
        border-radius: 8px;
        margin-left: 550px;

      }

      a {
        font-size: 30px;
        text-decoration: none;
        color: #FFFFFF;
        line-height: 60px;

      }


      #colour {
        font-family: Helvetica, sans-serif;
        color: #FFFFFF;
      }
      #colour:hover {
        color: black;
      }
      #size {
        font-family: Helvetica, sans-serif;
      }
      #size:hover {
        color: black;
      }
      #family {
        font-family: Helvetica, sans-serif;
      }
      #family:hover {
        color: black;
      }
      #rotate {
        font-family: Helvetica, sans-serif;
      }
      #rotate:hover {
        color: black;
      }
      #shape {
        font-family: Helvetica, sans-serif;
      }
      #shape:hover {
        color: black;
      }