{
margin: 30px; 
padding: 15; 
}

body {
	position: relative;
	width: 95vw;
    margin: 0 auto;
	background: linear-gradient(180deg, #67D9C4 0%, #FD8CFF 100%);
	border-style: solid;
    border-color: #A7CA5E;
    border-width: 30px;
 
}


@media (max-width: 500px) {
  body {
  	width: 87vw;
    margin: 0 auto;
  	border-style: solid;
    border-color: #EB9FDA;
    border-width: 30px;
   
  }
  

  h1 { 
  font-family: 'Oswald', sans-serif;;
    font-weight: 400px;
    font-size: 70px;
    letter-spacing: 1px;
    text-align: center;
    color: #5FA646;
    margin: 10px;
    padding: 5px;

}
.list{font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: left;
    letter-spacing: 1px;
    padding: 35px;
    color: #EB9FDA;
}
}

 h1 { 
  font-family: 'Oswald', sans-serif;;
    font-weight: 400px;
    font-size: 70px;
    letter-spacing: 1px;
    text-align: center;
    color: #EB9FDA;

}

h2 { 
  font-family: helvetica;
    font-weight: 400px;
    font-size: 30px;
    letter-spacing: 1px;
    text-align: left;
    letter-spacing: 3px;
    padding: 15px;
    color: #FFFFFF;
    margin: 70px;
    padding: 10px;
}

.list{
	font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: left;
    letter-spacing: 1px;
    padding: 35px;
    color: #EB9FDA;
    margin: 70px;
    padding: 70px;

}


a {
	text-decoration: none;
	color: #FFD910;




}