{
margin: 30px; 
padding: 15; 
}

body{
  background-color:#357065;
}

h3{

	text-align: left;
	font-family: sans-serif;
}

.list {
	color: #2CC7AB;
	background-color:#60B0A2;
	border-radius: 15px;
    width: 160px;
	
}

.list:hover {
	background: -webkit-radial-gradient(#82ACD3, #82ACD3, #82ACD3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
 }

.list2 {
	color: #2CC7AB;
	background-color:#0D8F78;
	border-radius: 15px;
    width: 160px;
	}

 

.list2:hover {
background: -webkit-radial-gradient(#82ACD3, #82ACD3, #82ACD3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
 } 

 a:link {
 	text-decoration: none;
 	}

.list3 {

	background-color:#60B0A2;
	border-radius: 15px;
    width: 160px;
	
}

.list4 {

	background-color:#0D8F78;
	border-radius: 15px;
    width: 160px;
	
}




