
body {
    background-color: black;
}

h1 {
   font-size: 12px;
   color: white;
   font-family: 'Roboto', sans-serif;
   margin: 0px;
   padding: 15px;
}

.previous {
   color: white;
   font-family: 'Roboto', sans-serif;

}

.next {
   color: white;
   font-family: 'Roboto', sans-serif;

}

a {
  text-decoration: none;
  display: inline-block;
  margin-top: 5px;
}

.container {
  width: 90%;
  height: 250px;
  position: relative;
}

.plate img{
  position: absolute;
  display: block;
  width: 60%;
  height: auto;
  cursor: move;
}



