*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: monospace;
  margin: 0;
  padding: 15px;
  background-color: #eee;
  padding: 10px;
  position: relative;
  height: 100vh;
  overflow-y: scroll;
}

h1 {
  font-size: 1.5em;
  font-weight: normal;
  margin: 0;
  color: hotpink;
  background-color: chartreuse;
  position: absolute;
  top: 40px;
  left: 20px;
}

/* Fatima Hassan J H Al-Jaber */
#fatima-zine-page {
  background: #DEB8FF;
  width: 300px;
  height: 300px;
  position: relative;
  top: 500px;
  left: 200px;
}
.fatima-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  align-items: stretch;
  height: 300px;
  width: 300px;
}
.fatima-item-1 {
  background: #B8DDFF;
  border: solid;
  border-color: #8F90EC;
  border-width: 5px;
  text-align: center;
  align-self: auto;
  flex: 1 0;
}
.fatima-item-2 {
  background: #CF6F94;
  border-style: dashed;
  border-color: #10102E;
  text-align: center;
  align-self: auto;
  height: 140px;
}
.fatima-item-3 {
  background: #A2CFA2;
  padding: 18px;
  flex-basis: 100%;
  width: 150px;
  text-align: center;
  align-self: auto;
}
.fatima-item-4 {
  background: #9FD6D8;
  text-align: center;
  align-self: auto;
}

.fatima-item-5 {
  text-align: center;
  align-self: auto;
  background-color: #FFBCB7;
  width: 71px;
  height: 98px;
  font-size: 12px;
  padding: 3px;
}

.fatima-item-6 {
  text-align: center;
  align-self: auto;
  background-color: #FFCDFD;
  width: 71px;
  height: 98px;
  font-size: 12px;
  padding: 3px;
}

@media only screen and (min-width: 480px) {
  .fatima-item-1 {
    background-color: #CDFFED;
    font-size: 12px;
    border-color: #D1CDFF;
  }
  .fatima-item-6 {
    background-color: #FFFFCD;
    font-size: 10px;
  }
}

/* Ghada Alkhaznadar */
#ghadaname {
  color: orange;
  background-color: blue;
  position: absolute;
  top: 150px;
  left: 400px;
}

/* Joyce Chan */
#joycechan {
  color: purple;
  background-color: yellow;
  position: absolute;
  top: 500px;
  left: 100px;
}
#joyces-page {
  background: pink;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 410px;
  left: 315px;
}
.joyce-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  align-items: stretch;
}
.joyce-item-1 {
  background: red;
  border: dotted;
  border-color: brown;
  border-width: 5px;
  text-align: center;
  align-self: auto;
  flex: 1 0;
}
.joyce-item-2 {
  background: green;
  text-align: center;
  align-self: auto;
  height: 130px;
}
.joyce-item-3 {
  background: yellow;
  text-align: center;
  align-self: auto;
  flex-basis: 70%;
  border: solid;
  border-color: black;
  border-width: 5px;
}
.joyce-item-4 {
  background: blue;
  text-align: center;
  align-self: auto;
  height: 70px;
}
.joyce-item-5 {
  background: white;
  text-align: center;
  align-self: auto;
}
.joyce-item-6 {
  background: purple;
  border: solid;
  border-color: orange;
  border-width: 5px;
  align-self: auto;
  flex-grow: 1;
  height: 100px;
}
.joyce-image {
  width: 140px;
  height: 90px;
  margin: auto;
  display: block;
}

@media only screen and (min-width: 1200px) {
  .joyce-item-4 {
    background-color: lightblue;
    font-size: 25px;
  }
  .joyce-item-1 {
    background-color: black;
    color: white;
    font-size: 30px;
  }
}

/* Ashley Fletcher */
#ashleys-zine-page {
  background-color: red;
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0px;
  left: 320px;
}

.ashleys-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  align-items: stretch;
  width: 300px;
  height: 300px;
}

.ashleys-item1 {
  background-color: pink;
  border-color: red;
  border-width: 5px;
  border-style: solid;
  text-align: center;
  align-self: auto;
  width: 200px;
  height: 100px;
  padding-top: 15px;
}

.ashleys-item2 {
  background-color: yellow;
  text-align: center;
  align-self: auto;
  width: 100px;
  height: 100px;
  padding: 15px;
}

.ashleys-item3 {
  background-color: lightblue;
  align-self: auto;
  width: 120px;
  padding-top: 15px;
  height: 100px;
}

.ashleys-item4 {
  background-color: blue;
  align-self: auto;
  width: 180px;
  height: 100px;
}

.ashleys-item5 {
  background-color: red;
  align-self: auto;
  width: 150px;
  height: 100px;
}

.ashleys-item6 {
  background-color: lightyellow;
  border-color: teal;
  border-width: 3px;
  border-style: dotted;
  align-self: auto;
  width: 150px;
  height: 100px;
}

.haiku {
    color: teal;
    font-size: 4.5pt;
}
  
@media only screen and (max-width: 480px){
  .ashleys-item2 {
  background-color: lightgreen;
}
  .ashleys-item6 {
  background-color: teal;
  border-color: white;
}
  .haiku {
    color: white;
    font-size: 4pt;
  }
}
/* Mia Gilling */
#mias-zine-page {
  background: #264d00;
  width: 300px;
  height: 300px;
  position: relative;
  top: 480px;
  left: 650px;
}
  
#mia-container-1 {
  background: #ffe6ff;
  width: 170px;
  margin-left: 10px;
  color: #4d0099;
  }

#mia{
  background:#ffbb33;
  color:#4d0099;
  width:90px;
  margin-left:190px;
  margin-top:-30px;
}

#mia-container-2 {
  background: #003399;
  width: 100px;
  margin-left: 10px;
  color: #b3ccff;
}

#mia-container-3 {
  margin-left: 120px;
  margin-top: -160px;
}

#mia-container-4 {
  background: #4d0099;
  color: #ffbb33;
  width: 60px;
  margin-left: 230px;
  margin-top: -175px;
}

#mia-container-5 {
  margin-top: -5px;
  margin-left: 230px;
}

#mia-container-6 {
  width: 100px;
  height: 70px;
  background: #b3d9ff;
  margin-top: -60px;
  margin-left: 10px;
  border: solid #4d0099;
  text-align:center;
}

#mia-container-7{
  width:100px;
  height:70px;
  background:#ffe6ff;
  margin-top:-70px;
  margin-left:120px;
  border:dotted #ffbb33;
}



/* Grace Huang */

#graces-zine-page {
  background: #C3C7D4;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 470px;
  left: 965px;
}
.grace-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  align-items: stretch;
}
.grace-item-1 {
  background: pink;
  border: dotted;
  border-color: brown;
  border-width: 3px;
  text-align: center;
  align-self: auto;
  flex: 3;
}
.grace-item-2 {
  background: #C2E6FF;
  text-align: center;
  align-self: auto;
  height: 20px;
}
.grace-item-3 {
  background: lightyellow;
  text-align: center;
  align-self: auto;
  flex-basis: 30%;
  border: solid;
  border-color: #F7B96D;
  border-width: 1px;
}
.grace-item-4 {
  background: #984367;
  text-align: center;
  align-self: auto;
  height: 80px;
  width: 60px;
}
.grace-item-5 {
  background: #AFC4B1;
  text-align: center;
  align-self: auto;
}
.grace-item-6 {
  background: #9199C8;
  border: dotted;
  border-color: white;
  border-width: 6px;
  align-self: auto;
  flex-grow: 1;
  height: 90px;
}
.grace-image {
  width: 80px;
  height: auto;
  margin: auto;
  display: block;
}

@media only screen and (max-width: 480px) {
  .grace-item-1 {
    background-color: lightyellow;
    color: white;
    font-size: 16px;
  }
  .grace-item-4 {
    background-color: lightblue;
    border-color: white;
  }
  .grace-item-6 {
    font-size: 20px;
  }
}

/* Aria Zhou*/
#aria-zine-page{
    position:absolute;
    width:300px;
    height:300px;
    background:lightblue;
    top:340px;
    left:1050px;
  }
  #aria-container{
    display:flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items:center;
  }
  .aria-items{
    height:90px;
    width:100px;
    flex:none;
  }
  .aria-item-1{
    background:red;
    padding:5px;
    font-size:15px;
  }
  .aria-item-2{
    background:blue;
    width:150px;
    height:100px;
    border:4px dashed black;
  }
  .aria-item-3{
    font-size:25px;
    background: coral;
    flex-basis:80%;
    height:50px;
    line-height:0;
    align-self:flex-start;
    text-align:center;
  }
  .aria-item-4{
    margin: auto;
    background:lightyellow;
    color: darkslategray;  
  }
  .aria-item-5{
    border:2px solid blueviolet;
    margin: auto;
  }
  .aria-item-6{
    flex-grow: 1;
    background: grey;
    text-align: center;
    height: 50px;
  }
@media screen and (max-width: 480px){
  .aria-item-1{
    background: cornflowerblue;
  }
  .aria-item-2{
    background-color: gold;
  }
  .aria-item-5{
    border: 1px dotted indigo;
  }
}
  
/* Hannah Hwang */
#hannahs-zine-page {
  background-color: #8eb1c2;
  position: absolute;
  width: 300px;
  height: 300px;
  bottom: 0px;
  right: 320px;
}

.hannahs-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  align-items: stretch;
  width: 300px;
  height: 300px;
}

.hannahs-item1 {
  background-color: #99c084;
  border-color: #cea762;
  border-style: dotted;
  border-width: 3px;
  text-align: center;
  align-self: auto;
  width: 100px;
  height: 110px;
  padding-top: 15px;
}

.hannahs-item2 {
  background-color: #d4e5c3;
  text-align: center;
  align-self: auto;
  width: 25px;
  height: 100px;
  padding: 15px;
}

.hannahs-item3 {
  background-color: #8eb1c2;
  align-self: auto;
  width: 120px;
  padding-top: 15px;
  height: 100px;
}

.hannahs-item4 {
  background-color: #ffe5c9;
  align-self: auto;
  width: 150px;
  height: 90px;
}

.hannahs-item5 {
  background-color: #d2c2af;
  align-self: auto;
  width: 150px;
  height: 90px;
}

.hannahs-item6 {
  background-color: #d4e5c3;
  align-self: auto;
  width: 300px;
  height: 100px;
}


/* Oriana Lacau */
#oriana {
  color: green;
  background-color: pink;
  position: absolute;
  bottom: 40px;
  right: 70px;
}

  
  
/* Michael Lim */
#mike-zine {
  background-image: url("https://media.istockphoto.com/photos/mediterranean-sunset-sicily-picture-id506517392?s=612x612");
  background-color: #cccccc;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 100px;
  right: 10px;
}
.mike-box {
  display:flex;
  flex-direction:column;
  justfiy-content:stretch;
  allign-items:stretch;
  height: 300px;
  width: 300px;
}
.mike-b1{
  background: blue;
  text-align:center;
  align-self:auto;
}
.mike-b2{
  background:limegreen;
  text-align:center;
  align-self:auto;
  flex: 2;
  
}
.mike-b3{
  background: red;
  text-align:center;
  align-self:auto;
  flex: 1;
}
.mike-b4{
  border: solid;
  background:black;
  color: black;
  text-align:center;
  align-self:auto;
  
}
.mike-b5{
  border: solid;
  background: yellow;
  text-align:center;
  align-self:auto;
  
}
.mike-b6{
  background:white;
  border: pink;
  text-align:center;
  align-self:auto;
  
}

  
  
/* Lissette Lomeli */
#lissette-zine-page {
  background: #62bcf5;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50px;
  left: 650px;
}
.lissette-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  align-items: stretch;
  height: 300px;
  width: 300px;
}
.lissette-item-1 {
  background: #62bcf5;
  border: solid;
  border-color: #f23913;
  border-width: 3px;
  text-align: center;
  align-self: auto;
  flex: 1 0;
}
.lissette-item-2 {
  background: #fc83ca;
  border-style: dashed;
  border-color: #fce083;
  text-align: center;
  align-self: auto;
  height: 50px;
}
.lissette-item-3 {
  background: #faa434;
  padding: 25px;
  flex-basis: 50%;
  width: 100px;
  text-align: center;
  align-self: auto;
}
.lissette-item-4 {
  background: lavender;
  align-self: auto;
  text-align: center;
  padding: 10px;
  flex-basis: 50%;
  border: solid;
  border-color: #8e32f0;
  border-width: 10px;
  font-family: brush script mt;
}
.lissette-item-5 {
  background: black;
  flex-basis: 100%;
  text-align: center;
  align-self: auto;
}
.lissette-image {
  width: 200px;
  height: 100px;
}
.lissette-item-6 {
  background: #b4eb98;
  text-align: center;
  align-self: auto;
  border: dashed;
  border-color: white;
  border-width: 5px;
}
@media only screen and (min-width: 1200px) {
  .lissette-item-1 {
    background-color: #c2f723;
    color: red;
  }
  .lissette-item-3 {
    background-color: skyblue;
    font-family: helvetica;
    font-size: 15px;
  }
}

/* Georgia Malone */
#georgia {
  color: green;
  background-color: pink;
  position: absolute;
  top: 200px;
  left: 20px;
}

/* Yeongju Won */
#yeongjuwon {
  color: pink;
  background-color: green;
  top: 400px;
  left: 10px;
  position: absolute;
}

#yeongju-page {
  background: #edecf9;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 5px;
  left: 1009px;
}

.yeongju-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  align-items: stretch;
  height: 300px;
  width:300px;
}

.yeongju-box1 {
  background: #c0d3b5;
  border-color: #35b4ab;
  border-style: solid;
  border-bottom-style: dotted;
  border-width: 6px;
  text-align: center;
  flex: 2;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: #35b4ab;
}

.yeongju-box2 {
  background: #d94b93;
  border-color: #a11369;
  border-style: solid;
  text-align: right;
  align-self: auto;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  color: white;
  flex: 1;
}

.yeongju-box3 {
  background: #787183;
  border-color: #1a2d29;
  border-style: double;
  text-align: center;
  align-self: auto;
  flex-basis: 80%;
}

.yeongju-box4 {
  background: #92b53d;
  border-color: #6f9b4c;
  border-style: solid;
  align-self: auto;
  text-align: center;
  flex: 1 25%;
}

.yeongju-box5 {
  background: #86d8e4;
  border-style: solid;
  border-color: #0088c4;
  text-align: right;
  align-self: auto;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  flex: 2;
  height: 80px;
}

.yeongju-box6 {
  background: #f4a49b;
  border-style: dashed;
  border-color: #fb9952;
  height: 65px;
  flex: 1 100%;
  text-align: center;
  align-self: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
}

.yw-img {
  width: auto;
  height: 6vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.yw-q {
  color: #dd9e81;
}

@media only screen and (min-width: 1222px) {
  .yeongju-box4 {
    background-color: #fcd168;
    border-color: #f06443;
  }
  .yeongju-box6 {
    background-color: #CF6F94;
    border-color: #10102E;
    font-family: monospace;
    font-size: 12px;
  }
}

/* Yufan Zhao */
#Yufan-page {
  background-color: hotpink;
  position: absolute;
  width: 300px;
  height: 300px;
  top: 1000px;
  left: 200px;
}

.Yufan-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  align-items: stretch;
  width: 300px;
  height: 300px;
}

.Yufan1 {
  background-color:aqua;
  border-color:blueviolet;
  border-width: 2px;
  border-style: solid;
  text-align: center;
  align-self: auto;
  width: 100px;
  height: 50px;
  padding-top: 15px;
}

.Yufan2 {
  background-color: yellow;
  
  align-self: auto;
  width: 100px;
  height: 50px;
 
}

.Yufan3 {
  background-color:chocolate;
  align-self: auto;
  width: 120px;
  padding-top: 15px;
  height: 100px;
}

.Yufan4{
  background-color:darkgrey;
  align-self: auto;
  width: 180px;
  height: 100px;
}

.Yufan5 {
  background-color:chartreuse;
  align-self: auto;
  width: 150px;
  height: 100px;
  float:left;

}

.Yufan6 {
  background-color:red;
  border-color: teal;
  border-width: 4px;
  border-style: dotted;
  align-self: auto;
  width: 150px;
  height: 50px;
  
}
@media only screen and (min-width: 1222px) {
  .Yufan4 {
    background-color:green;
    border-color: #f06443;
  }

/* raquel trevino */
  
#raquels-zine-page {
 position: relative;
 background: #B189F2;
 border: dashed;
 border-color: green;
 width: 300px;
 height: 300px;
 top: -750px;
 left: -195px;
}

a{
  color:#B189F2;
}

  
#raq-1 {
margin-top: -19px;
font-size: 20px;
text-align: center;
background: #4d0099;
color: #B189F2;
width: 287px;
margin-left: 2px;
}


#raq-2 {
text-align: center;
color: #4d0099;
background: #97CA6F;
width: 130px;
height: 37px;
margin-left: 5px;
margin-top: -9px;
}

#raq-3 {
 background: #97CA6F;
 color: #4d0099;
 text-align: center;
 width: 124px;
 height: 34px; 
 margin-left: 150px;
 margin-top: 54px;

}

#raq-4 {
 margin-left: 7px;
 margin-top: 66px;
 color: #B189F2;
 background: #4d0099;
 color: #B189F2;
 width: 132px; 
}


#raq-6 {
 width: 123px;
 height: 42px;
 background: #BB9DFA;
 margin-top: -268px;
 margin-left: 149px;
 border: solid #4d0099;
 text-align: center;
}

#raq-7 {
 font-size: 27px;
 text-align: center;
 background: #B189F2;
 width: 123px;
 margin-top: -17px;
 margin-left: 149px;
 }

#raquel{
 background: #C2DFAB;
 color: #4d0099;
 width: 120px;
 text-align: center;
 margin-left: 224px;
 margin-top: -50px;
 transform: rotate( 90deg);
}



