* {
  padding: 0px;
  margin:0px;
  }


.box1 {
    position: relative;
    padding: 25px;
    background-color: #9DCA8D;
    text-align: left;
    max-width: 110%;
    height: 40px;
    margin-top: 0px;
}

.title {
	position: relative;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 40px;
    padding: 25px;
    left: 90px;
    top: -95px;
}

.circle {
 	position: relative;
    height: 59px;
    width: 60px;
    left: 20px;
    top: -169px;
    background-color: #CCEDC1;
    border-radius: 50%;
    display: inline-block;
    cursor: url('cursor.png'), pointer;
}



.box2 {
	position: relative;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    padding: 20px;
    background-color: #A0DF8A;
    text-align: center;
    max-width: 20%;
    height: 40px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
    top: -80px;
    left: 450px;
}



.box3 {
	position: relative;
    font-family: sans-serif;
    font-size: 30px;
    padding: 20px;
    background-color: #E6FAE0;
    text-align: left;
    max-width: 50%;
    height: 40px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
}

.box4 {
	position: relative;
    font-family: sans-serif;
    font-size: 30px;
    padding: 20px;
    background-color: #9DCA8D;
    text-align: center;
    left: 580px;
    max-width: 50%;
    height: 40px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
}

.box5 {
	position: relative;
    font-family: sans-serif;
    font-size: 30px;
    padding: 20px;
    background-color: #9DCA8D;
    text-align: left;
    left: 580px;
    max-width: 50%;
    height: 100px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
}

.box6 {
	position: relative;
    font-family: sans-serif;
    font-size: 30px;
    padding: 20px;
    background-color: #E6FAE0;
    text-align: left;
    max-width: 40%;
    height: 40px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
}

.box7 {
	position: relative;
    font-family: sans-serif;
    font-size: 30px;
    padding: 20px;
    background-color: #E6FAE0;
    text-align: left;
    max-width: 60%;
    /*height: 280px;*/
    border: 2px solid red;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
}

.box8  {
position: relative;
    font-family: sans-serif;
    font-size: 30px;
    padding: 20px;
    background-color: #9DCA8D;
    text-align: center;
    left: 658px;
    max-width: 44%;
    height: 36px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
}

.box9 {
position: relative;
    font-family: sans-serif;
    font-size: 30px;
    padding: 20px;
    background-color: #9DCA8D;
    text-align: left;
    left: 658px;
    max-width: 44%;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
}

.box10 {
	position: relative;
    font-family: sans-serif;
    font-size: 30px;
    padding: 20px;
    background-color: #E6FAE0;
    text-align: left;
    max-width: 60%;
    height: 340px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
}

.box11 {
	position: relative;
    font-family: sans-serif;
    font-size: 30px;
    padding: 20px;
    background-color: #E6FAE0;
    text-align: left;
    max-width: 50%;
    height: 65px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
}

.box12 {
	position: relative;
    font-family: sans-serif;
    font-size: 30px;
    padding: 20px;
    background-color: #E6FAE0;
    text-align: left;
    max-width: 40%;
    height: 65px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
}

.box13 {
	position: relative;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    padding: 20px;
    background-color: #A0DF8A;
    text-align: center;
    max-width: 20%;
    height: 40px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
    top: 70px;
    left: 450px;
}

.box14 {
position: relative;
    font-family: sans-serif;
    font-size: 30px;
    padding: 20px;
    background-color: #9DCA8D;
    text-align: center;
    left: 967px;
    max-width: 20%;
    height: 40px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
}

.box15 {
    position: relative;
    font-family: sans-serif;
    font-size: 30px;
    padding: 20px;
    background-color: #9DCA8D;
    text-align: center;
    left: 838px;
    max-width: 30%;
    height: 40px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
}


.info {
	position: relative;
    font-family: sans-serif;
    font-size: 30px;
    padding: 20px;
    background-color: #9DCA8D;
    text-align: left;
    max-width: 50%;
    height: 100px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
}


