
body {
   margin: 10px;
   padding: 3px;
}


p {
display: block;
font-size: 1.5em;
font-style: italic;
}

.main-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.desk img {
position: absolute;
bottom: -113px;
left: 432px;
margin-top: 60px;
width:900px;
height:700px;
}

.desk-2 img {
position: absolute;
bottom: -37px;
left: 432px;
margin-top: 60px;
width:900px;
height:700px;
}

.desk-3 img {
position: absolute;
    bottom: -18px;
    left: 483px;
    margin-top: 60px;
    width: 700px;
    height: 500px;
}

.container-1 {
margin: 20px;
width: 450px;
}

.container-1 h1 {
display: block;
font-size: 3em;
font-weight: bold;
}

.container-1 h3 {
display: block;
font-size: 1.5em;
font-weight: bold;
}

.container-1 p {
display: block;
font-size: 1em;
font-weight: bold;
}



.container-2 {
margin: 20px;
width: 300px;
}

.container-2 h2 {
font-size: 1.5em;
line-height: 30px;
margin:0;
}

.container-2 li {
font-size: 1.8em;
line-height: 30px;
margin:0;
padding: 15px;
}

a {
 text-decoration: none;
 color: black;
}


@media screen and (max-width: 768px) {
body {
	font-size: 10px;
}

.desk img {
position: absolute;
bottom: 59px;
left: 137px;
margin-top: 60px;
width: 500px;
height: 347px;

}

.desk-2 img {
position: absolute;
    bottom: 79px;
    left: 137px;
    margin-top: 60px;
    width: 500px;
    height: 347px;
}
.desk-3 img {
position: absolute;
bottom: 59px;
left: 137px;
margin-top: 60px;
width: 450px;
height: 340px;
}
}