* {
  padding: 0px;
  margin:0px;
  }

html, body {
  max-width: 1280px;
  max-height: 800px;
}

body {
    background-color: #AEACAC;
    font-size:40px;
}

.title {
    position: fixed;
    font-family: sans-serif;
    font-weight: normal;
    font-size:30px;
    padding: 25px;
    text-align: left;
    width: 100vw;
    margin-top: 0px;
    margin-bottom: 20px;
    background-image: linear-gradient(to right, #818080, #E5E5E5,#818080);
}

.circle {
    position: fixed;
    font-family: serif;
    font-weight: normal;
    font-size: 25px;
    padding: 14px;
    margin:1206px;
    background-color: #A0DF8A;
    text-align: center;
    width: 2%;
    margin-top: 18px;
    border-radius: 30px;
    background-image: linear-gradient(to right, #E5E5E5, #C4C4C4,#E5E5E5);
    cursor: pointer;
}

.circle: hover {
  background-color:#E5E5E5;
}

a {
    text-decoration: none;
    color: black;
}
.box2 { 
font-family: sans-serif;
    font-weight: bold;
    color: #474545;
    font-size: 20px;
    padding: 20px;
    margin: 10px;
    background-color: #CBCACA;
    text-align: left;
    width: 12%;
    margin-top: 100px;
    border-radius: 30px;
   
}

.bubble-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.bubble-container.align-left {
    align-items: flex-start;
}

.bubble-container.align-right {
    align-items: flex-end;
}

.bubble-container.align-middle {
    align-items: center;

}




.box3 {
    font-family: sans-serif;
    font-size: 20px;
    padding: 20px;
    margin:5px;
    text-align: left;
    width: 35%;
    margin-bottom: 10px;
    border-radius: 30px;
    background-color: #CBCACA;
}

.box4 {
    font-family: sans-serif;
    font-size: 20px;
    padding: 20px;
    margin:5px;
    text-align: left;
    width: 65%;
    margin-bottom: 10px;
    border-radius: 30px;
       background-image: linear-gradient(to right, #969595, #E5E5E5,#969595);
 }      
.box5 {
    font-family: sans-serif;
    font-size: 20px;
    padding: 20px;
    margin:5px;
    text-align: left;
    width: 30%;
    margin-bottom: 10px;
    border-radius: 30px;
    background-color: #CBCACA;
}
.box6 {
    font-family: sans-serif;
    font-size: 20px;
    padding: 20px;
    margin:5px;
    text-align: left;
    width: 30%;
    margin-bottom: 10px;
    border-radius: 30px;
       background-image: linear-gradient(to right, #969595, #E5E5E5,#969595);
}
.box7 {
  font-family: sans-serif;
    font-size: 20px;
    padding: 20px;
    margin: 5px;
    text-align: left;
    width: 56%;
    margin-bottom: 10px;
    border-radius: 30px;
    background-color: #CBCACA;
}
.box8 {
font-family: sans-serif;
    font-size: 20px;
    padding: 20px;
    margin: 5px;
    text-align: left;
    width: 40%;
    margin-bottom: 10px;
    border-radius: 30px;
    background-color: #CBCACA;
}
.box9 {

    font-family: sans-serif;
    font-size: 20px;
    padding: 20px;
    margin:5px;
    text-align: left;
    width: 41%;
    margin-bottom: 10px;
    border-radius: 30px;
       background-image: linear-gradient(to right, #969595, #E5E5E5,#969595);

}

.box10 {
font-family: sans-serif;
    font-size: 20px;
    padding: 20px;
    margin: 5px;
    text-align: left;
    width: 50%;
    margin-bottom: 10px;
    border-radius: 30px;
    background-color: #CBCACA;
}


.box11 {
    font-family: sans-serif;
    font-size: 20px;
    padding: 20px;
    margin:5px;
    text-align: left;
    width: 30%;
    margin-bottom: 10px;
    border-radius: 30px;
    background-color: #CBCACA;
}

.box12 {
    font-family: sans-serif;
    font-size: 20px;
    padding: 20px;
    margin:5px;
    text-align: left;
    width: 45%;
    margin-bottom: 10px;
    border-radius: 30px;
       background-image: linear-gradient(to right, #969595, #E5E5E5,#969595);
}

.box13 {
  font-family: sans-serif;
    font-size: 20px;
    padding: 20px;
    margin: 5px;
    text-align: left;
    width: 65%;
    margin-bottom: 10px;
    border-radius: 30px;
    background-color: #CBCACA;
}

.box14 {
    font-family: sans-serif;
    font-size: 20px;
    padding: 20px;
    margin:5px;
    text-align: left;
    width: 23%;
    margin-bottom: 10px;
    border-radius: 30px;
    background-color: #CBCACA;
}

.box15 {
    font-family: sans-serif;
    font-size: 20px;
    padding: 20px;
    margin:5px;
    text-align: left;
    width: 35%;
    margin-bottom: 10px;
    border-radius: 30px;
       background-image: linear-gradient(to right, #969595, #E5E5E5,#969595);
}

.box16 {
    font-family: sans-serif;
    font-size: 20px;
    padding: 20px;
    margin:5px;
    text-align: left;
    width: 55%;
    margin-bottom: 10px;
    border-radius: 30px;
       background-image: linear-gradient(to right, #969595, #E5E5E5,#969595);
 } 
 .box17 {
    font-family: sans-serif;
    font-size: 20px;
    padding: 20px;
    margin:5px;
    text-align: left;
    width: 50%;
    margin-bottom: 10px;
    border-radius: 30px;
       background-image: linear-gradient(to right, #969595, #E5E5E5,#969595);
 } 

 .box18 {
    font-family: sans-serif;
    font-size: 20px;
    padding: 20px;
    margin:5px;
    text-align: left;
    width: 17%;
    margin-bottom: 10px;
    border-radius: 30px;
       background-image: linear-gradient(to right, #969595, #E5E5E5,#969595);
}
.box19 {
    font-family: sans-serif;
    font-size: 20px;
    padding: 20px;
    margin:5px;
    text-align: left;
    width: 15%;
    margin-bottom: 10px;
    border-radius: 30px;
    background-color: #CBCACA;
}
 .box20 {
    font-family: sans-serif;
    font-size: 20px;
    padding: 20px;
    margin:5px;
    text-align: left;
    width: 20%;
    margin-bottom: 10px;
    border-radius: 30px;
       background-image: linear-gradient(to right, #969595, #E5E5E5,#969595);
}

.box21 {
  font-family: sans-serif;
    font-size: 20px;
    padding: 20px;
    margin: 5px;
    text-align: left;
    width: 70%;
    margin-bottom: 10px;
    border-radius: 30px;
    background-color: #CBCACA;
}

.box22 {
    font-family: sans-serif;
    font-size: 20px;
    padding: 20px;
    margin:5px;
    text-align: left;
    width: 88%;
    margin-bottom: 10px;
    border-radius: 30px;
    background-color: #CBCACA;
}

.box23 {
    font-family: sans-serif;
    font-size: 20px;
    padding: 20px;
    margin:5px;
    text-align: left;
    width: 10%;
    margin-bottom: 10px;
    border-radius: 30px;
    background-color: #CBCACA;
}
.date {
    font-family: sans-serif;
    font-size: 15px;
    padding: 30px;
    margin:5px;
    text-align: center;
    color: #ffffff;
    letter-spacing: 3px;

}

.del {
    font-family: sans-serif;
    font-size: 15px;
    padding: 2px;
    margin:5px;
    text-align: center;
    color: #ffffff;
    letter-spacing: 1px;

}

.cred {
    font-family: sans-serif;
    font-size: 15px;
    padding: 2px;
    margin:5px;
    text-align: center;
    color: #ffffff;
    letter-spacing: 1px;

}



@media only screen and (max-width: 35em) {

    body { 
      background-color: #B0B0B0;
   }

   .title { 
      font-size: 15px; 
   }

   .circle { 
      font-size: 12px; 
   }

   .box2 { 
      font-size: 12px; 
   }

   .box3 { 
      font-size: 12px; 
   }

   .box4 { 
      font-size: 12px; 
   }

   .box5 { 
      font-size: 12px; 
   }

   .box6 { 
      font-size: 12px; 
   }
   .box7 { 
      font-size: 12px; 
   }
    .box8 { 
      font-size: 12px; 
   }
    .box9 { 
      font-size: 12px; 
   }
    .box10 { 
      font-size: 12px; 
   }
    .box11 { 
      font-size: 12px; 
   }
    .box12 { 
      font-size: 12px; 
   }
     .box13 { 
      font-size: 12px; 
   }
     .box14 { 
      font-size: 12px; 
   }
     .box15 { 
      font-size: 12px; 
   }
     .box16 { 
      font-size: 12px; 
   }
     .box17 { 
      font-size: 12px; 

    }
     .box18 { 
      font-size: 12px; 
  
     }
     .box19 { 
      font-size: 12px; 
   }
  
     .box20 { 
      font-size: 12px; 
   }
     .box21 { 
      font-size: 12px; 
   }

     .box22 { 
      font-size: 12px; 
   }

     .box23 { 
      font-size: 12px; 
   }
    .date { 
      font-size: 10px; 
   }
   .del { 
      font-size: 10px; 
   }

   .cred { 
      font-size: 10px; 
   }
   
.circle {
position: fixed;
    font-family: serif;
    font-weight: normal;
    font-size: 15px;
    padding: 10px;
    margin: 450px;
    text-align: center;
    width: 4%;
    margin-top: 16px;
    border-radius: 30px;
    background-image: linear-gradient(to right, #E5E5E5, #C4C4C4,#E5E5E5);
    cursor: pointer;
}

}
