body {
  background-color: snow;
  width: 100%;
}

h1 {
  color: green;
  text-align: center;
  font-size: 50px;
}


.container {
  position: relative;
  margin: 80px auto;
  height: 400px;
  width: 90%;
}

.cup {
position: absolute;
    top: 0;
    left: 144px;
    display: block;
}
.plate {
  position: absolute;
  width: 250px;
}

.plate {
  left: 30px;
  top: 30px;
}

.cup, .spoon {
  z-index: 10;
}
.spoon {
top: 137px;
    left: 622px;
    position: absolute;
}
.tablecloth {
  height: 100%;
  width: 100%;
}

.tablecloth {
  left: 622px;
  top: 214px;
}

.cup{
    width: 240px;
    height: 268px;
}

.spoon {
    width: 223px;
    height: 248px;
}

.bowl {
    height: 263px;
    width: 285px;
}

.bowl {
    top: 104px;
    left: 348px;
    position: absolute;
}
.candle {
top: -77px;
left: 875px;
position: absolute;
width: 250px;
}

.flowers {
top: -152px;
    left: 761px;
    position: absolute;
    width: 250px;
}