* {
  padding: 10px;
  margin:0px;
  }

html, body {
  max-width: 1280px;
  max-height: 800px;
  background-color: black;
}

h1 {
    font-size: 20px;
    line-height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    display: inline;
    clear: both; 
    color: yellow;
}

img {
  width: 200px;
  height: 300px;
}

#content-wrapper{
margin:0;
padding:0;
border:0; 
vertical-align: baseline; 
}

#right {
    width: 12%;
    height: 143px;
    margin: auto;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
}

#left{
    width: 4%;
    height: 143px;
    margin: 26%;
    margin-top: -161px;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
}

  
/* target only screens up to 738px */
@media only screen and (max-width: 738px){
  header {
    position: fixed;
    top: 0;
    left: 1.5vw;
    right: 1.5vw;
    bottom: 0;
    margin: auto;
    color: #fff;
    z-index: 1000; }
  
  h1 {
      font-size: 35px;
      line-height: 35px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: lighter;
      display: inline;
      clear: both; 
  }

  

        }    